{% extends "base.html" %}

{%block styles%}

  .login{
    margin: 50px;
    text-align: center;
  }
  .but{
    background-color: gray;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
  }
  .pic {
    position: relative;
    display: inline-block;
}
.pic input[type='file'] {
    display: none;
}
.button {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    cursor: pointer;
}
  
{%endblock%}

{% block content %}

    <form action="/upload" method="post" enctype="multipart/form-data" class="login">
        <label for="name">Name:</label><br>  
        <input type='text' name='filename'><br>
        <input type="file" name="file" accept='image/png, image/jpeg' ><br>
        <input type="submit" value="Upload Image" name="submit" class='pic button'><br>
    </form>

{% endblock %}